<p>This username-password combination is valid, welcome {{name}}!</p>
<!-- % username = name -->

<!-- <script> -->
    <!-- // window.crypto.subtle.generateKey(
    // {
    //     name: "RSA-OAEP",
    //     // Consider using a 4096-bit key for systems that require long-term security
    //     modulusLength: 2048,
    //     publicExponent: new Uint8Array([1, 0, 1]),
    //     hash: "SHA-256",
    // },
    // true,
    // ["encrypt", "decrypt"]
    // ).then((keyPair) => {
    //     var pub = exportPublicKey(keyPair.publicKey);
    //     var private = exportPrivateKey(keyPair.privateKey)
    //     var db = openDatabase('user1.db', '1.0', 'Test DB', 2 * 1024 * 1024);
    //     db.transaction(function (tx) {   
    //     tx.executeSql('INSERT INTO Users (username, publickey) VALUES (?, ?'), ['{{name}}', pub]; 

    //     var curCookie = '{{name}}' + "=" + private;
    //     document.cookie = curCookie;
    //     alert("Your Cookie : " + document.cookie);
    //     });
    // // const exportButton = document.querySelector(".spki");
    // // exportButton.addEventListener("click", () => {
    
    


    // // });
    // });

//     fetch('js/info.json')
//     .then(response => response.text())
//     .then(data => {
//         // Do something with your data
//         var curCookie = '{{name}}' + "=" + data;

//         document.cookie = curCookie;
//         alert("Your Cookie : " + document.cookie);
//     }); -->
 <!-- </script> -->