<style>
    #resources {
        /* font-family: Arial, Helvetica, sans-serif; */
        border-collapse: collapse;
        width: 90%;
    }
    #resources td, #resources th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    #resources tr{background-color: #f2f2f2;}
    #resources tr:hover {background-color: #ddd;}

    #resources th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #000000;
        color: white;
    }
    a:link, a:visited, a:hover,a:active, a {
        text-decoration: none;
        text-decoration-color: #000000;
    }
</style>

<body>
    <center><h2>Course Resources</h2></center>
    <center>
    <table id="resources">
        <tr>
            <th>INFO2222</th>
        </tr>
        <tr>
            <td>
                <a href="https://www.sydney.edu.au/units/INFO2222" download target="_blank">Course Information</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../Resources/Blogs and Forums as Communication and Learning Tools.pdf" download target="_blank">Blogs and Forums as Communication and Learning Tools for MOOC.pdf</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../Resources/How to Create a Simple Web-Based Chat Application.zip" download target="_blank">How to Create a Simple Web-Based Chat Application.zip</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.liveswitch.io/blog/end-to-end-encryption-the-past-present-and-future-of-security" target="_blank"> End-to-End Encryption: The Past, Present and Future of Security </a>
            </td>
        </tr>
    </table>

    <table id="resources">
        <tr>
            <th>COMP2123</th>
        </tr>
        <tr>
            <td>
                <a href="https://www.sydney.edu.au/units/COMP2123" download target="_blank">Course Information</a>
            </td>
        </tr>
    </table>
    </center>

</body>


